<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1 class="page-title">
        <a class="page-title-a" href="/">The Tech Blog</a>
      </h1>
      <nav>

          <a class="nav-link-dash" href="/dashboard">Dashboard</a>
          <button class="logout-btn" id="logout" >Logout</button>

          <a class="nav-link-dash" href="/login">Login</a>

      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>


{{!-- <script src="/javascript/logout.js"></script> --}}

</body>

</html>