
<body>
    <div class="container" id="main-chat-div">
        <div class="row">

        <div class="col-4">

            <div id="friend-box">
                <h3 id="nameh3">Name{{display_name}}</h3>
                <div id="info-box">

                    <h4 id="locationh4">Location</h4>
                    <h4 id="speakh4">I speak</h4>
                    <h4 id="learnh4">I am learning</h4>
                    <ol id="enjoy-list">
                        <h4>I enjoy</h4>
                        <li>hiking</li>
                        <li>food</li>
                        <li>parties</li>
                    </ol>
                    
                </div>
            </div>

        </div>

        <div class="col-8">
            {{> chat}}
        </div>

        </div>
    </div>
    
</body>
