
<body>
    <div class="container" id="main-chat-div">
        <div class="row">

        <div class="col-4">

            <div id="friend-box">
                <h3 id="nameh3">{{display_name}} Erin</h3>
                <div id="info-box">

                    <h4 id="speakh4">I speak{{lang_spk}} English</h4>
                    <h4 id="learnh4">I am learning{{lang_lrn}} French</h4>
                    </ol>
                </div>
            </div>
        </div>

        <div class="col-8">
            {{> chat}}
        </div>

        </div>
    </div>
    
</body>