<div class="text-center" style="margin: 25% 10%;">
  <h2>Awesome Title Here!</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur numquam quis repellat ipsam ea ullam quae optio voluptatibus possimus eius, esse cum odit quos in ipsum. Laborum sint dolor nostrum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae magnam molestias facilis porro quas numquam autem, optio dignissimos tempore ipsam harum doloremque facere alias, ratione suscipit ducimus? Cumque, ullam minima.</p>
</div>