<div class="text-center" style="margin: 25% 10%;">
  <h2 class="home-title">Welcome To Chat 'n' Learn</h2>
  <p>Learning languages is hard.  Doing it without having native speakers to talk to on a daily basis can make it even harder.  Thats where Chat 'n' Learn can help!  We connect you with Native speakers of the language you are learning so you can have real conversations!  Here's the bonus, they are learning your native language too!  Its a win, win situation!</p>
</div>
