<div class="container" id="signup-form">
    <form class="px-4 py-3">

        <div class="mb-3">
            <label for="username-signup" class="form-label">User Login</label>
            <input type="username" class="form-control" id="username-signup" placeholder="Create your user login">
        </div>

                <div class="mb-3">
            <label for="email-signup" class="form-label">Email</label>
            <input type="email" class="form-control" id="email-signup" placeholder="enter your email">
        </div>

                <div class="mb-3">
            <label for="display-name-signup" class="form-label">Display Name</label>
            <input type="text" class="form-control" id="display-name-signup" placeholder="Create a display name">
        </div>

        <div class="mb-3">
            <label for="password-signup" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-signup" placeholder="Create a password">
        </div>

        <button type="submit" class="btn btn-secondary">Sign up</button>

    </form>
</div>

<script src="/javascript/signup.js"></script>