<div>
    <h2 class="text-center">User dashboard</h2>
    <p class="text-center">currently ALL users are listed</p>
    {{#if users.length}}
        {{#each users as |users|}}
            <div>
            {{> user-card}}
            </div>
        {{/each}}
        {{else}}
            <div>
                <p>No users have been registred yet.</p>
            </div>
    {{/if}}
</div>

<div>
    <h2 class="text-center dash-style">User dashboard</h2>
    <p class="text-center dash-sub-style">Friends!</p>

</div>

