

body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#form {
    background: #5b6bc0;
    border: 3px solid #5b6bc0;
    border-radius: 25px;
    padding: 0.25rem;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

main {
    background-color: #e3f2fd;
    border-radius: 20px;
    margin-top: 50px;
    padding: 10px;
}

.home-title {
    font-family: 'Lobster', cursive;
}

#nav-title {
    font-size: 42px;
    color: #f1d581;
    text-shadow: 1px 1px #5b6bc0;
}

#friend-search {
    color: #6bd8b9;
    text-shadow: 1px 1px #333;
}

#my-friends {
    color: #7885cb;
    text-shadow: 1px 1px #6bd8b9;
}

.navbar-brand {
    font-size: x-large;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}

.dash-title {
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    color: #6bd8b9;
    text-shadow: 1px 1px #5b6bc0;
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form>button {
    background: #f1d581;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #333;
}

.form-label {
    font-family: 'Lobster', cursive;
}

#messages {
    width: 100%;
    height: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 15px solid #5b6bc0;
    border-radius: 25px;
    background-color: #f8f8f8;
    resize: none;
    overflow-y: scroll;
    list-style: none;
}

#messages>li {
    padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
    background: #efefef;
}

#main-chat-div {
    padding-top: 40px;
}

#nameh3 {
    display: flex;
    justify-content: center;
}

#info-box{
    background-color: #7885cb;
    border: solid #7885cb;
    border-radius: 25px;
}

#locationh4, #speakh4, #learnh4, #enjoy-list {
    background-color: #6bd8b9;
    border: solid #6bd8b9;
    border-radius: 25px;
}

#friend-box {
    background-color: #5b6bc0;
    border: solid #5b6bc0;
    border-radius: 25px;
}

.user-card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user-card-col {
flex: 50%;
}

.img-fluid {
    border-radius: 50%;
    border: solid 15px #5b6bc0
}

.fr-box {
    border: solid 10px #6bd8b9;
    border-radius: 20px;
    background-color: #7885cb;
    padding: 5px
}

.text-box {
    border: solid 5px #6bd8b9;
    border-radius: 20px;
    background-color: #6bd8b9;
}

.dash-style {
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px #5b6bc0;
    color: #6bd8b9;
}

.dash-sub-style {
    font-weight: bold;
    font-size: x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px #5b6bc0;
    color: #6bd8b9;
}

.go-chat {
    background-color: #f1d581;
    border: solid 5px #f1d581;
    color: #5b6bc0;
    border-radius: 20px;
}

.go-chat:hover {
    background-color: #f0e0b2;
    border: solid 5px #f0e0b2;
    color: #5b6bc0;
    border-radius: 20px;
    text-decoration: none;
}






@media screen and (max-width: 576px) {
    .user-card-col {
        flex: 100%;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 1200px) {
    
}
